@page "/"
@inject PageState PageState

<PageTitle>Home</PageTitle>

<Button Color="Color.Primary" Clicked="EmbeddedClick">open service popup</Button>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    private async Task EmbeddedClick()
    {
        var refClass = new PopupBase.RefClass();

        await ModalService.Show<PopupBase>(null, x =>
        {
            x.Add(x => x.Ref, refClass);
            x.Add(x => x.RefChanged, EventCallback.Factory.Create(this, (PopupBase.RefClass? value) => refClass = value));
        }, Options(ModalSize.Large));
    }

    private static ModalInstanceOptions Options(ModalSize size) => new()
        {
            UseModalStructure = false,
            Centered = true,
            Size = size
        };
}